<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <a href="/">WELCOME</a> |  <a href="/getAllMessage">READ-MESSAGE</a> 
     <h1 style="color: green;"><%= title %> </h1>
    <h1>please create any message</h1> 
    <form action="/create-messages" method="POST">  
      <label for="title">TITLE</label> 
      <input name="title" placeholder="title" type="text" /> 
      <label for="text">text</label> 
      <input name="text" placeholder="text" type="text" />
    
      <button>CREATE-A-MESSAGE</button> 
    </form> 
</body>
</html>